
.outerDiv {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif.;
    text-align: center;
    display: inline-block;
    background:white;
    width:400px;
    border-radius:6px;
    /*margin-left: 50vmax;
    margin-top: 10px;*/
    position: fixed;
    left: 50%;
    margin-left: -200px;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid; 
    height:100vh;
    overflow:scroll;
    overflow-x:hidden;
}



.login input, .login label {
    /*display: flex;*/
    margin:2px 0 20px 10px;
    
}

.createAcct input, .createAcct label {
    /*display: block;*/
    margin:2px 20px 20px 10px;
}

#formErrors {
    display: none;
    color: red;
}

#loginErrors {
    display: none;
    color: red;
}

#createAcct, #loginBtn {
    margin:2px 20px 20px 10px;
}
#removeUser {
    display: none;
}
